<h1>Creating a task</h1>

<%= form_with(model: @task, url: course_lesson_tasks_path(@course, @lesson)) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :materials %>
  <%= form.text_area :materials %>

  <%= form.label :status %>
  <%= form.select :status, ['Active', 'Done', 'Canceled'] %>

  <%= form.submit 'Create a task', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to lesson', course_lesson_path(@course, @lesson), class: 'btn btn-primary' %>
